/** CSS **/



@font-face {
    font-family: 'source-sans-pro';
    src: url('../fonts/SourceSansPro-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body{
    background: #F8F8F8!important;
    color: #888;
    font-size: 13px;
    line-height: 1.6em;
}

#header-row{
    background: #3C3737;
    /*background: #F0F0F0;*/
    /*background: #487472;*/
    color: #FFFFFF;
}

a{
    color: #639E9C !important;
    /*color: #79B8B5 !important;*/
    text-decoration: none;
}

a:hover{
    /*color: #639E9C !important;*/
    color: #000000 !important;
}

.head-wrapper, .content-wrapper{
    width:80%;
    margin:0 auto;
}

.content-wrapper{
    margin:2em auto;
}

.navbar{
    background: none !important;
    border: none !important;
    margin-bottom: 0px !important;
}


.quick-box{
    position: relative;
    height: 100px;
    font-family: source-sans-pro;
    background: #CCC;
    padding: 1rem;
    text-align: center;
}

.quick-box .quick-count{
    float: left;
    width: 100%;
    font-weight:bold;
    font-size: 500%;
    padding: 1rem 0;

}

.quick-box .quick-label{
    width: 100%;
    padding: 1rem 0;
    text-transform: uppercase;
    line-height: 14px;
    margin-top: 0.5rem;
    float: left;
}

.bg-light-blue{
    background: #6EBDC4;
    color: #FFF;
}


.quick-box.bg-pink{
    background: #FFADAD;
    color: #eaeeee;
}

.quick-box.bg-green{
    background: #78BB7A;
    color: #FFF;
}

h2{
    font-family: source-sans-pro;
}

h2.blog-title{
    font-family: source-sans-pro;
    letter-spacing: -2px;
    word-spacing: 5px;
    border-bottom: 1px solid #666;
    color: #666;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.blog-post{
    background: #EEE;
    padding: 1em;
    margin: 1em 0px;
}

.blog-post-title{
    padding:0px;
    margin: 1rem 0px;
}

